<div class="outer1">
    <h1>Now Playing Movies</h1>
    <div class="flex1">

        <div class="card_container container-fluid ">
            <div *ngFor="let movie of arrayOfMovies" class="card" style="width: 18rem;">
                <img src={{movie.poster_path}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>

                    <button href="#" (click)=" addToFavs(movie)" class="btn btn-primary"> Add to Favourites</button> &nbsp; <button (click)="gotDetails(movie.id)" class="btn btn-danger"> Details</button>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="outer2">
    <h1>Top-Rated Movies</h1>
    <div class="flex2">

        <div class="card_container1 container-fluid">
            <div *ngFor="let movie of arrayOfMovies1" class="card" style="width: 18rem;">
                <img src={{movie.poster_path}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{movie.title}}</h5>

                    <button href="#" (click)="addToFavs1(movie)" class="btn btn-primary"> Add to Favourites</button> &nbsp; <button (click)="gotDetails(movie.id)" class="btn btn-danger">Details</button>

                </div>
            </div>

        </div>
    </div>
</div>