h1 {
    font-weight: 800;
    text-align: center;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card_container .card {
    margin: 10px;
    border: 1px solid black;
}