<h1>
    DETAILS OF MOVIES
</h1>


<div class="card_container container-fluid">
    <div class="card" style="width: 18rem;">
        <img src="https://image.tmdb.org/t/p/w500/{{movieDetails.poster_path}}" class="card-img-top" alt="...">

    </div>
    <div class="card" style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">{{movieDetails.title}}</h5>
            <h6 class="card-text">{{movieDetails.overview}}</h6>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->


        </div>
    </div>
</div>